@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  --bg-color: #fff;
  --text-color: #000;
  --primary-color: #0070f3;
  --border-color: #ddd;
  --button-hover-color: #f8f8f8;
}

[data-theme="dark"] {
  --bg-color: #212121;
  --text-color: rgba(255, 255, 255, 0.8);
  --primary-color: #2387d8;
  --border-color: #555;
  --button-hover-color: #333;
}

html,
body {
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  word-break: break-word;
}

* {
  box-sizing: border-box;
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

hero {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
  line-height: 1.2;
}
h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.2rem;
}
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

article {
  flex: 4 1;
  padding: 0 1rem;
}

button {
  color: #0070f3;
  font-size: 0.85rem;
  margin-top: 0.2rem;
  border: 1px solid var(--border-color);
  background: var(--bg-color);
  height: 2rem;
  width: 100%;
}

button:hover {
  cursor: pointer;
  background: var(--button-hover-color);
}
